
.searchRoot {
    border: calc(.0625rem * var(--mantine-scale)) solid var(--mantine-color-placeholder);
    background-color: var(--mantine-color-default);
    border-radius: 0.25rem;
    padding-left: 0.75rem;
    align-items: flex-start !important;
    gap: 0 !important;
}
.inputWrapper {
    flex-grow: 1;

    .input {
        background-color: transparent;
        border: none !important;
        outline: none;
        padding: 5px !important;
    }
}
