.carouselRoot {
    padding: 1.6em;
    width: 100%;
    display: flex;
    align-items: center;
}

.carouselSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
    min-height: 300px;
    object-fit: scale-down;
}
