.tagpill {
    border: 1px solid rgba(114, 114, 114, 0.274);
    border-radius: 0.5rem;
    padding: 5px;
    padding-top: 0px;

    button {
        display: flex;
        align-items: flex-end
    };
}