.searchRoot {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0;
}

.displayQuery {
    border: calc(.0625rem * var(--mantine-scale)) solid var(--mantine-color-placeholder);
    background-color: var(--mantine-color-default);
    border-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 0.75rem;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: baseline;
    flex-grow: 1;
}

.inputWrapper {
    max-width: 100%;
    flex-grow: 1;

    .input {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 5px;
    }
}

.searchBtn {
    width: 2.38rem;
    min-width: 2.38rem;
    height: 100%;
    border-radius: 0;

    &:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}

.clearBtn {
    width: 2.38rem;
    min-width: 2.38rem;
    height: 100%;
    background-color: rgb(200, 83, 83);
    border-radius: 0 0.25rem 0.25rem 0;

    @include hover {
        background-color: darken($color: rgb(200, 83, 83), $amount: 5);
    }
}