
.card {
    border-radius: var(--mantine-radius-md);
    display: flex;
    color: var(--mantine-color-default-color);
    gap: 5px;
    flex-grow: 1;

    &:hover {
        background-color: var(--mantine-color-scheme);
    }
}

.menuBtn {
    color: var(--mantine-color-default-color);
    opacity: 0.55;
    border: none;

    &[aria-expanded="true"] {
        color: var(--mantine-primary-color-3);   
        opacity: 1.0; 
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}
